@import "grid.css";
@import "info.css";
@import "fine.css";
@import "font.css";
@import "personaggi.css";
@import "moltiplicatore.css";

.hide {
    display: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    justify-content: center;
}

.inline {
    display: flex;
    justify-content: space-between;
}